{% extends "base.html" %}
{% block body_text%}
<div class="container">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="page-header">
            <h3 class="text-center">填写添加事项内容</h3>
        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="item_name" class="col-sm-2 control-label">事项名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="item_name" placeholder="输入要做的事项标题">
                </div>
            </div>
            <div class="form-group">
                <label for="fin_date" class="col-sm-2 control-label">完成日期</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" id="fin_date" placeholder="请输入完成的日期">
                </div>
            </div>
            <div class="form-group">
                <label for="item_cnt" class="col-sm-2 control-label">事项内容</label>
                <div class="col-sm-10">
                    <textarea id="item_cnt" class="form-control" rows="3" placeholder="请输入事项的详细描述"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">添加事项</button>
                </div>
            </div>
            <div class="form-group">
                <p class="text-danger">请填写正确格式数据...</p>
            </div>
        </form>
    </div>
</div>
{% endblock body_text%}