{% extends "base.html" %}
{% block meta_title %}
    商家{{ flags }}
{% endblock %}
{% block body_text %}
    <div class="container">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="page-header">
                <h3 class="text-center">商家{{ flags }}</h3>
            </div>

            <form class="form-horizontal" action="" method="post">
                {% for item in forms %}
                    <div class="form-group">
                        {{ item }}
                    </div>
                    {{ item.errors[0] }}
                {% endfor %}
                <div class="text-right">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">{{ flags }}</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock body_text %}